html,body{background: url("../images/bgg.jpg") no-repeat center center fixed;
background-size: cover;
overflow: hidden;
}

img{display: block;
margin:auto;
width:100%;
height:auto;
}

.jumbotron {
    background: none
}

header.masthead {
 	
  padding-bottom: calc(40rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
  background-position: center;
}
